.dark .dark\:addUserModal .mantine-qb3vl4 {
    background-color: #060818;
    border: .5px solid #888ea8e1;
}

.dark .dark\:addUserModal label {
    color: #888ea8e1;
}

.dark .dark\:addUserModal .mantine-Modal-title {
    color: #888ea8e1;
}

.dark .dark\:mySelect .css-13cymwt-control {
    border: .1px solid #888ea818;
    background-color: #121E32;
}

.dark .dark\:mySelect .css-t3ipsp-control {
    border: .1px solid #888ea818;
    background-color: #121E32;
}

.dark .dark\:mySelect .css-1nmdiq5-menu {
    border: .1px solid #888ea818;
    background-color: #121E32;
}

.dark .dark\:mySelect .css-1hb7zxy-IndicatorsContainer {
    color: red;
}

.dark .dark\:myEditor .CodeMirror-wrap {
    background-color: #121E32;
    border: .1px solid #888ea86d;
}

.dark .dark\:myEditor .editor-toolbar {
    background-color: #121E32;
    border: .1px solid #888ea86d;
    border-bottom: none;
}

.dark .dark\:myEditor .editor-toolbar .separator {
    border-right: none;
}

.mySelect .css-13cymwt-control {
    border: .1px solid #06081818;
}

/* .cm-header {
    background-color: white;
}

.cm-header::selection {
    background-color: red !important;
} */

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background-color: white !important;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word)::selection {
    background-color: transparent !important;
    color: #fff !important;
}

/* .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background-color: white !important;
    
} */
.dark .dark\:myEditor .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background-color: #121E32 !important;
    color: #888EA8;
}

.custom-file-container__image-clear {
    width: 40px !important;
    height: 40px !important;
}